<!DOCTYPE html>



  {{#each works}}
<div class="work">
      <div class="jumbotron">
        
         <h3>{{coco}}</h3>
        <h3>{{username}}</h3>
        <h3>{{name}}</h3>

        <img src="../arf/{{img}}" alt="Sorry" height="42" width="42"> 
        <h3>{{img}}</h3>
         
         <h3>{{file}}</h3>
         <h3>{{link}}</h3>
        
            
    </div>
    </div>


    {{/each}}






</html>
